@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@600&family=Play:wght@700&display=swap');

/* .cb{
    padding-top: 1.5rem;
} */

/* .sign-up h2
{
    font-weight: 900;
} */

.title-profile
{
    font-weight: 900;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'Merriweather', serif; */
    /* text-align: center; */
    padding-left: 15%;
    color: #287bff;
    font-family: 'Play', sans-serif;
}

.info-profile label
{
    /* border: 1px solid black;
    background: #fff;
    background-color: white;
    margin: 5px;
    padding-right: 0;
    font-size: medium; */
    font-weight: bold;
}
.sign-up{
    /* display: flex; */
    margin-left: 35%;
    justify-content: center;
    align-items: center;
}

.container #signup-form, .container #account-form{
    background: rgba(240, 242, 245, 1); 
    /* background: rgb(248, 248, 248); */
    /* border: 1px dashed #fff; */
}

.sign-up label
{
    font-weight: bold;
}

/* #account-form
{
    width: fit-content;
    box-sizing: border-box;
} */

.password-form
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .container #account-form
{
    background: #dff9fb;
} */

.container #input-username
{
    font-weight: 800;
    border: 1px solid black;
    font-size: 15px;
}

.title-info
{
    color: #287bff;
    font-weight: 600;
    text-align: center;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Play', sans-serif;
}