.txtexplain{
    margin-right: 30px;
    display: flex;
}

.explain-note{
    font-size: 1.25rem;
    margin-left: 5rem;
}

.explain-color{
    width: 60px;
    height: 20px;
    margin-right: 10px;
}

.note-chart
{
    text-decoration: underline;
    text-align: center;
}

.rp{
    margin-top: 5rem;
}

.rp #doanhthu
{
    margin-top: 7rem;
}

#outcome{
    text-align: left;
    margin-left: 10px;
    margin-top: 7rem;
    border: 1px solid #fff;
    width: 450px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.9), 8px 8px 25px rgba(0, 0, 0, 0.5);
    background: #eaeef0;
}

#income{
    border: 1px solid #fff;
    width: 450px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.9), 8px 8px 25px rgba(0, 0, 0, 0.5);
    background: #eaeef0;
}

.thang-quy-nam
{
    position: absolute;
    left: 35%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thang-quy-nam h4{
    margin-right: 5px;
}

.thang-quy-nam #month
{
    border-radius: 30px;
}

.thang-quy-nam #quy
{
    border-radius: 30px;
}

.thang-quy-nam #year
{
    border-radius: 30px;
}

#doanhthu{
    border: 1px solid #fff;
    width: 450px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.9), 8px 8px 25px rgba(0, 0, 0, 0.5);
    background: #eaeef0;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.bao-cao
{
    margin-bottom: 20px;
    position: absolute;
    left: 5%;
}

.top-best-sale
{
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
    height: 685px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.top-best-sale h2
{
    color: #287bff;
    font-weight: 600;
    text-align: center;
}

.top-best-sale #table-tk
{
    border-collapse: collapse;
    width: 100%;
    font-weight: 500;
    height: 95%;
}

.top-best-sale #table-tk thead tr th
{
    font-weight: 600;
}

.top-best-sale #table-tk #tr-tk
{
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-best-sale #table-tk #tr-tk:last-child
{
    border-bottom: none;
}

.top-best-sale #table-tk tbody tr:hover
{
    color: #287bff;
}

.charts
{
    position: relative;
}

.pie-chart
{
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    align-content: center;
    justify-content: center;
    height: 685px;
}

.line-chart
{
    position: absolute;
    top: 250%;
    right: 0;
    width: 60%;
    height: 670px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.line-chart h4
{
    text-align: center;
    color: #287bff;
    font-weight: 600;
    margin-bottom: 30px;
}

.custom-tooltip
{
    border: 1px solid #bdc3c7;
    background: #dff9fb;
    padding: 10px;
}

.custom-tooltip p
{
    font-weight: 500;
}

.btn-exportReport {
    position: absolute;
    right: 30rem;
    bottom: 1rem;
    height: 2.5rem;
    width: 7rem;
    border-radius: 5px;
    border-color: white;
    background-color: rgba(227, 12, 24, 1);
    color: white;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue, Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    margin-top: 50px;
  }

.choosen
{
    display: inline-flex;
}

.choosen h4
{
    margin-right: 10px;
}

.title-report
{
    text-align: center;
    color: #16a085;
    font-weight: 600;
}

.input-from
{
    margin-right: 100px;
}