.scroll-table {
  overflow-y: scroll;
  height: 15rem;
  width: 100%;
}

.img-border {
  border: 1px solid #bdc3c7;
  height: 350px;
}

.jumb {
  position: absolute;
  width: 270px;
  top: 350px;
  left: 15px;
  
  border: 2px dashed #bdc3c7;
  padding-top: 10px;
}