@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.scroll-table {
  overflow-y: scroll;
  height: 15rem;
  width: 100%;
}

.img-border {
  border: 1px solid rgba(240, 242, 245, 1);
  height: 350px;
  transition: 0.5s ease-in-out;
}

.img-border:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08), 0 0 30px rgba(0, 0, 0, 0.08), 0 0 60px rgba(0, 0, 0, 0.08), 0 0 100px rgba(0, 0, 0, 0.08);
}

.jumb {
  position: absolute;
  width: 270px;
  height: 200px;
  top: 350px;
  left: 15px;
  background: rgba(240, 242, 245, 1);
  border: 2px solid #bdc3c7; 
  padding-top: 10px;
  font-size: medium;
  border-radius: 10px;
}

.jumb input
{
  margin-bottom: 15px;
}

.grid-comments
{
  width: 500px;
}

#ps-card
{
  background: #fff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

#ps-card:hover{
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.9), 8px 8px 25px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  border: 2px solid red;
}

.header-home
{
  font-family: 'Merriweather';
  font-weight: 900;
}

#ps-card .product-price
{
  font-size: large;
}

.product-detail hr
{
  margin-top: 1px;
}

.product-detail .table-product
{
  border: 1px solid rgba(221, 221, 221, 1);
  box-shadow: #bdc3c7;
  background: rgba(240, 242, 245, 1);
  border-radius: 10px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.9), 8px 8px 25px rgba(0, 0, 0, 0.2);
}

.product-hint
{
  font-size: medium;
}

.product-hint a
{
  font-style: italic;
  margin-left: 5px;
  color: #7f8c8d;
  text-decoration: none;
}

.product-hint a:hover
{
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  border: 1px solid #7f8c8d;
  background: #7f8c8d;
  border-radius: 20px;
  padding: 5px;
}

.figure-description
{
  text-align: justify;
}

.sub-picture-more
{
  overflow-x: scroll;
  width: 100%;
  display: flex;
}

.sub-picture img, .image-main, .sub-picture-more img
{
  height: 50px;
  border: 1px solid black;
  margin-right: 5px;
  margin-top: 5px;
}

.sub-picture img:hover, .image-main:hover, .sub-picture-more img:hover
{
  cursor: pointer;
}

#input-search
{
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 400px;
}

.hr-header
{
  width: 100px;
  transform: translateX(515%);
  margin-bottom: 15px;
}

.filter-price
{
  position: relative;
  margin-bottom: 50px;
}

.filter-price label
{
  position: absolute;
  right: 16%;
  font-weight: 700;
  font-size: medium;
  border: 1px solid rgb(233, 234, 236);
  background: rgb(233, 234, 236);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.filter-price select
{
  position: absolute;
  right: 0;
  font-size: medium;
}