@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.login-title
{
    margin-left: 355px;
    margin-top: 25px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.login-form
{
    background: rgba(240, 242, 245, 1);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    /* border-radius: 10px; */
    /* width: 100px;
    height: 100px; */
}