.change-pro
{
    position: relative;
    align-items: center;
}

.change-password
{
    position: absolute;
    top: 30px;
    left: 22%;
    border: 1px solid #fff;
    width: 400px;
    padding: 50px;
    background: #eaeef0;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding-top: 150px;
}

.profile
{
    position: absolute;
    top: 30px;
    left: 46%;
    border: 5px solid #eaeef0;
    border-left: none;
    padding: 10px;
    box-shadow: 10px -10px 15px rgba(255, 255, 255, 0.9), 8px 8px 25px rgba(0, 0, 0, 0.5);
    background: #fff;
    height: 600px;
    width: 550px;
}

.profile h3
{
    text-align: center;
    margin-bottom: 30px;
}

.profile p
{
    font-size: medium;
    margin-bottom: 50px;
}