.ps-logo
{
    position: relative;
    display: inline-flex;
}

.ps-logo h3
{
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    border: 1px solid white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.ps-logo span
{
    display: inline-flex;
}